image: ubuntu:latest

before_script:
  - echo "Before script section"
  - sudo apt-get update && sudo apt-get -y install make


shellcheck:
  stage: test
  script:    
    - echo "Install ShellCheck"
    - sudo apt-get -y install shellcheck
    - make shellcheck

