# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = 'Mark Caudill'
	email = mark@mrkc.me
	signingkey = 4DBEB43A8D281F2F

[core]
	excludesFile = ~/.gitignore

[init]
	defaultBranch = main

[pull]
	rebase = false
